@use '../../../../themes/asana/asana' as theme;

$viewer: '.ar-viewer';

#{$viewer} {
  display: none;
  background-color: rgb(0 0 0 / 90%);

  // .ar-viewer--active
  &--active {
    & {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      display: flex;
      flex-flow: column-reverse nowrap;
      width: 100%;
      height: 100%;
    }
  }

  // .ar-viewer__gallery
  &__gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--indent-padding-xlarge);
    min-height: 40px;
    padding: var(--indent-padding-xlarge);
    overflow: auto hidden;
    user-select: none;
    background-color: var(--color-background-default-weak);

    // .ar-viewer__gallery-video, .ar-viewer__gallery-image
    &-video,
    &-image {
      @include theme.xl {
        flex-flow: column nowrap;
      }

      & {
        display: flex;
        flex-flow: row nowrap;
        gap: var(--indent-padding-xlarge);
      }
    }

    // .ar-viewer__gallery-label
    &-label {
      display: flex;
      flex-direction: column;
      text-align: center;

      @include theme.text-style-helper(t2);

      span {
        @include theme.text-style-helper(t3);
      }
    }

    // .ar-viewer__gallery-item
    &-item {
      display: flex;
      width: 70px;
      height: auto;
      overflow: hidden;
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: var(--radius-default-medium);

      &--selected {
        border-color: var(--color-border-danger-active);
      }

      @media (any-hover: hover) {
        &:hover {
          border-color: var(--color-border-danger-hover);
        }
      }

      video,
      iframe {
        width: 100%;
        height: 100%;
        pointer-events: none;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  // .ar-viewer__content
  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    // .ar-viewer__content img
    img {
      @include theme.xl {
        max-height: 100vh;
      }

      & {
        display: block;
        width: 100%;
        max-height: calc(100vh - 180px);
        cursor: zoom-in;
        user-select: none;
        object-fit: contain;
      }
    }

    // .ar-viewer__content--zoom
    &--zoom {
      // .ar-viewer__content--zoom .ar-viewer__slider-item-nested
      #{$viewer}__slider-item-nested {
        align-items: center;
        justify-content: center;
        cursor: grab;

        // .ar-viewer__content--zoom .m-viewer__slider-item-nested:active
        &:active {
          cursor: grabbing;
        }

        // .ar-viewer__content--zoom .m-viewer__slider-item-nested img
        img {
          cursor: unset;
        }
      }

      // .ar-viewer__content--zoom .ar-viewer__controls-zoom
      #{$viewer}__controls-zoom {
        display: block;
      }
    }
  }

  // .ar-viewer__slider
  &__slider {
    display: flex;
    visibility: visible;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;

    // .ar-viewer__slider--no-transition
    &--no-transition {
      transition: none;
    }

    // .ar-viewer__slider--is-calculating
    &--is-calculating {
      #{$viewer}__slider-item {
        display: none;
      }

      img {
        display: none;
      }
    }

    // .ar-viewer__slider-item
    &-item {
      width: 100%;
      min-width: 100%;
      height: 100%;
      overflow: hidden;

      // .ar-viewer__slider-item-nested
      &-nested {
        width: fit-content;
        height: fit-content;

        & > div {
          flex-grow: 1;
          width: 100%;
        }
      }

      // .ar-viewer__slider-item-calculating
      &-calculating {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: white;
      }

      // .ar-viewer__slider-item-video
      &-video {
        // .ar-viewer__slider-item-video .ar-viewer__slider-item-nested
        #{$viewer}__slider-item-nested {
          width: 100%;
          height: 100%;
        }
      }
    }

    // .ar-viewer__slider video, .ar-viewer__slider iframe
    video,
    iframe {
      width: 100%;
      height: 100%;
    }
  }

  // .ar-viewer__empty
  &__empty {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 10;
    text-align: center;
    transform: translateY(-50%);
  }

  // .ar-viewer__controls
  &__controls {
    // .ar-viewer__controls-close
    &-close {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      margin: var(--indent-margin-xlarge);
    }

    // .ar-viewer__controls-prev
    &-prev {
      & {
        display: none;
      }

      @include theme.md {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 10;
        display: block;
        margin: var(--indent-margin-xlarge);
        transform: translateY(-50%);
      }

      // .ar-viewer__controls-prev--disabled
      &--disabled {
        pointer-events: none;
        opacity: 0;
      }
    }

    // .ar-viewer__controls-next
    &-next {
      & {
        display: none;
      }

      @include theme.md {
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 10;
        display: block;
        margin: var(--indent-margin-xlarge);
        transform: translateY(-50%);
      }

      // .ar-viewer__controls-next--disabled
      &--disabled {
        pointer-events: none;
        opacity: 0;
      }
    }

    // .ar-viewer__controls-zoom
    &-zoom {
      @include theme.text-style-helper(t4);

      position: absolute;
      bottom: 20px;
      left: 50%;
      z-index: 10;
      display: none;
      padding: var(--indent-padding-small);
      color: var(--color-text-default-foreground);
      user-select: none;
      background-color: rgba(#18181beb, 92%);
      border-radius: var(--radius-default-medium);
      transform: translateX(-50%);

      // .ar-viewer__controls-zoom-text
      &-text {
        padding: 10px;
      }
    }
  }
}
