@mixin white-theme() {
  --color-primary: #fff;
  --color-text: #1e1f21;
  --color-text-weak: #6d6e6f;
  --color-inverse-text: #f5f4f3;
  --color-primary-text: #3f6ac4;
  --color-danger-text: #c92f54;
  --color-background-default: #f9f8f8;
  --color-background-weak: #fff;
  --color-background-strong: #fff;
  --color-success-background: #e6f8f1;
  --color-success-icon: #58a182;
  --color-success-icon-hover: #58a182;
  --color-border: #edeae9;
  --color-border-hover: #afabac;
  --color-border-hover-medium: #6d6e6f;
  --color-border-hover-strong: #1e1f21;
  --color-success-border: #368e6a;
  --color-success-border-hover: #58a182;
  --color-success-border-active: #8dc2ac;
  --color-danger-border: #c92f54;
  --color-danger-border-hover: #e37281;
  --color-danger-border-active: #f9c6ca;
  --radius: 6px;
  --disabled-opacity: 0.4;
}
