@use '../../../ariadna' as theme;

$textarea: '.ar-textarea';

#{$textarea} {
  position: relative;
  width: 100%;

  // .ar-textarea--theme
  &--theme {
    // .ar-textarea--theme .ar-textarea__textarea
    #{$textarea}__textarea {
      color: var(--color-text-default-weak);
      background: var(--color-background-default-weak);
      border-color: var(--color-border-default);
    }
  }

  // .ar-textarea--focused
  &--focused {
    // .ar-textarea--focused.ar-textarea--theme
    &#{$textarea}--theme {
      // .ar-textarea--focused.ar-textarea--theme .ar-textarea__textarea
      #{$textarea}__textarea {
        border-color: var(--color-border-default-active);
      }
    }
  }

  // .ar-textarea--hovered
  &--hovered {
    // .ar-textarea--hover.ar-textarea--theme
    &#{$textarea}--theme {
      // .ar-textarea--hover.ar-textarea--theme .ar-textarea__textarea
      #{$textarea}__textarea {
        border-color: var(--color-border-default-hover);
      }
    }
  }

  // .ar-textarea--disabled
  &--disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  // .ar-textarea--readonly
  &--readonly {
    #{$textarea}__textarea {
      font-size: 16px;
      border: 0;
    }
  }

  // .ar-textarea--filled
  &--filled {
    // .ar-textarea--filled .ar-textarea__placeholder
    #{$textarea}__placeholder {
      display: none;
    }
  }

  // .ar-textarea--valid
  &--valid {
    // .ar-textarea--valid.ar-textarea--theme
    &#{$textarea}--theme {
      // .ar-textarea--valid.ar-textarea--theme .ar-textarea__textarea
      #{$textarea}__textarea {
        border-color: var(--color-border-success);

        // .ar-textarea--valid.ar-textarea--theme .ar-textarea__textarea:hover
        &:hover {
          border-color: var(--color-border-success-hover);
        }

        // .ar-textarea--valid.ar-textarea--theme .ar-textarea__textarea:focus
        &:focus {
          border-color: var(--color-border-success-active);
        }
      }
    }
  }

  // .ar-textarea--invalid
  &--invalid {
    color: var(--color-text-danger);

    // .ar-textarea--invalid.ar-textarea--theme
    &#{$textarea}--theme {
      // .ar-textarea--invalid.ar-textarea--theme .ar-textarea__textarea
      #{$textarea}__textarea {
        border-color: var(--color-border-danger);

        // .ar-textarea--invalid.ar-textarea--theme .ar-textarea__textarea:hover
        &:hover {
          border-color: var(--color-border-danger-hover);
        }

        // .ar-textarea--invalid.ar-textarea--theme .ar-textarea__textarea:focus
        &:focus {
          border-color: var(--color-border-danger-active);
        }
      }
    }
  }

  // .ar-textarea--primary
  &--primary {
    // .ar-textarea--primary.ar-textarea__textarea
    #{$textarea}__textarea {
      color: var(--color-text-default-foreground);
      background: var(--color-background-primary);
      border-color: var(--color-border-primary);
    }

    // .ar-textarea--primary.ar-textarea--hovered
    &#{$textarea}--hovered {
      // .ar-textarea--primary.ar-textarea--hovered .ar-textarea__input
      #{$textarea}__input {
        border-color: var(--color-text-default-foreground);
      }
    }
  }

  // .ar-textarea__label
  &__label {
    position: relative;
    display: block;
    margin-bottom: var(--indent-margin-medium);
  }

  // .ar-textarea__textarea
  &__textarea {
    @include theme.text-style-helper(t4);

    box-sizing: border-box;
    display: inline-flex;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    min-height: 110px;
    padding: var(--radius-default-large);
    text-overflow: ellipsis;
    resize: vertical;
    outline: 0;
    background-color: inherit;
    border-style: solid;
    border-width: 1px;
    border-radius: var(--radius-default-medium);
  }

  // .ar-textarea__placeholder
  &__placeholder {
    @include theme.text-style-helper(t3);

    position: absolute;
    top: 30px;
    left: 10px;
    pointer-events: none;
    opacity: 0.3;
  }

  // .ar-textarea__errors
  &__errors {
    @include theme.text-style-helper(t3);

    // .ar-textarea__errors-expand-enter-active, .ar-textarea__errors--expand-leave-active
    &-expand-enter-active,
    &-expand-leave-active {
      overflow: hidden;
      transition:
        height 0.2s ease,
        padding-top 0.2s ease;
    }

    // .ar-textarea__errors--expand-enter-from, .ar-textarea__errors---expand-leave-to
    &-expand-enter-from,
    &-expand-leave-to {
      height: 0 !important;
      padding-top: 0 !important;
    }
  }
}
