@use '../../../../themes/asana/asana' as theme;

$previewer: '.ar-previewer';

#{$previewer} {
  padding: var(--indent-padding-xlarge);
  border-radius: var(--radius-default-medium);

  // .ar-previewer--theme
  &--theme {
    background: var(--color-background-default-medium);

    // .ar-previewer--theme .ar-previewer__component, .ar-previewer--theme .ar-previewer__action, .ar-previewer--theme .ar-previewer__code
    & #{$previewer}__component,
    & #{$previewer}__action,
    & #{$previewer}__code {
      background: var(--color-background-default-strong);
      border-color: var(--color-border-default);
    }
  }

  // .ar-previewer__header
  &__header {
    @include theme.text-style-helper(h3);

    padding: var(--indent-padding-large) 0;
  }

  // .ar-previewer__description
  &__description {
    @include theme.text-style-helper(t2);

    padding: var(--indent-padding-large) 0;
  }

  // .ar-previewer__component, .ar-previewer__action, .ar-previewer__code
  &__component,
  &__action,
  &__code {
    padding: var(--indent-padding-large);
    border-width: 1px;
  }

  // .ar-previewer__component
  &__component {
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-left-radius: var(--radius-default-medium);
    border-top-right-radius: var(--radius-default-medium);

    // .ar-previewer__component:not(:has(+ .ar-previewer__action))
    &:not(:has(+ #{$previewer}__action)) {
      border-bottom-style: solid;
      border-bottom-right-radius: var(--radius-default-medium);
      border-bottom-left-radius: var(--radius-default-medium);
    }
  }

  // .ar-previewer__action
  &__action {
    display: flex;
    flex-direction: row;
    gap: var(--indent-padding-large);
    place-content: center center;
    border-style: solid;

    // .ar-previewer__action:not(:has(+ .ar-previewer__code))
    &:not(:has(+ #{$previewer}__code)) {
      border-bottom-right-radius: var(--radius-default-medium);
      border-bottom-left-radius: var(--radius-default-medium);
    }
  }

  // .ar-previewer__code
  &__code {
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-bottom-right-radius: var(--radius-default-medium);
    border-bottom-left-radius: var(--radius-default-medium);
  }
}
