@use '../../../../themes/asana/asana' as theme;

$badge: '.ar-badge';

#{$badge} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  // .ar-badge--theme
  &--theme {
    color: var(--color-text-default-contrast);
    background: var(--color-background-default-contrast);
  }

  // .ar-badge--small
  &--small {
    @include theme.text-style-helper(t4);

    min-width: 1.25rem;
    height: 1.25rem;
  }

  // .ar-badge--medium
  &--medium {
    @include theme.text-style-helper(t4);

    min-width: 1.5rem;
    height: 1.5rem;
  }

  // .ar-badge--large
  &--large {
    @include theme.text-style-helper(t4);

    min-width: 1.75rem;
    height: 1.75rem;
  }

  // .ar-badge--primary
  &--primary {
    // .ar-badge--primary.ar-badge--theme
    &#{$badge}--theme {
      color: var(--color-text-default-foreground);
      background: var(--color-background-primary);
    }
  }

  // .ar-badge--secondary
  &--secondary {
    // .ar-badge--secondary.ar-badge--theme
    &#{$badge}--theme {
      color: var(--color-text-secondary-strong);
      background: var(--color-background-secondary-strong);
    }
  }

  // .ar-badge--success
  &--success {
    // .ar-badge--success.ar-badge--theme
    &#{$badge}--theme {
      color: var(--color-text-success-strong);
      background: var(--color-background-success-strong);
    }
  }

  // .ar-badge--warning
  &--warning {
    // .ar-badge--warning.ar-badge--theme
    &#{$badge}--theme {
      color: var(--color-text-warning-strong);
      background: var(--color-background-warning-strong);
    }
  }

  // .ar-badge--danger
  &--danger {
    // .ar-badge--danger.ar-badge--theme
    &#{$badge}--theme {
      color: var(--color-text-danger-strong);
      background: var(--color-background-danger-strong);
    }
  }

  // .ar-badge--floating
  &--floating {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    margin: 0;
    pointer-events: none;
    transform: translate(50%, -50%);
    transform-origin: 100% 0;
  }
}
