@use '../../../../themes/asana/asana' as theme;

$chips: '.ar-chips';

#{$chips} {
  position: relative;
  width: 100%;

  // .ar-chips--theme
  &--theme {
    // .ar-chips--theme .ar-chips__item
    #{$chips}__group {
      border-color: var(--color-border-default);
    }

    // .ar-chips--theme .ar-chips__item
    #{$chips}__item {
      color: var(--color-text-default-weak);
      background-color: var(--color-background-default-weak);
      border-color: var(--color-border-default);

      &-remove {
        background-color: var(--color-background-default-medium);

        &:hover {
          color: var(--color-text-default-contrast);
          background-color: var(--color-background-default-contrast);
        }
      }

      // .ar-chips--theme .ar-chips__item:hover
      &:hover {
        background-color: var(--color-background-default-hover);
      }

      // .ar-chips--theme .ar-chips--focused
      &--focused {
        background-color: var(--color-background-default-strong);

        // .ar-chips--theme .ar-chips--focused .ar-chips--theme .ar-chips__item-remove
        #{$chips}__item-remove {
          color: var(--color-text-default-contrast);
          background-color: var(--color-background-default-contrast);
        }
      }
    }
  }

  // .ar-chips--small
  &--small {
    // .ar-chips--small .ar-chips__item
    #{$chips}__item {
      @include theme.text-style-helper(t3);

      padding: var(--indent-padding-medium);

      // .ar-chips--small .ar-chips__item .ar-chips__item-remove
      &-remove {
        width: 12px;
        height: 12px;
        padding: var(--indent-padding-large);
      }
    }
  }

  // .ar-chips--medium
  &--medium {
    // .ar-chips--medium .ar-chips__item
    #{$chips}__item {
      @include theme.text-style-helper(t3);

      padding: var(--indent-padding-large);

      // .ar-chips--medium .ar-chips__item .ar-chips__item-remove
      &-remove {
        width: 16px;
        height: 16px;
        padding: var(--indent-padding-large);
      }
    }
  }

  // .ar-chips--large
  &--large {
    // .ar-chips--large .ar-chips__item
    #{$chips}__item {
      @include theme.text-style-helper(t3);

      padding: var(--indent-padding-xlarge);

      // .ar-chips--large .ar-chips__item .ar-chips__item-remove
      &-remove {
        width: 20px;
        height: 20px;
        padding: var(--indent-padding-large);
      }
    }
  }

  // .ar-chips--valid
  &--valid {
    // .ar-chips--valid .ar-chips__label, .ar-chips--valid .ar-chips__errors
    #{$chips}__label {
      color: var(--color-text-success);
    }

    // .ar-chips--valid.ar-chips--theme
    &#{$chips}--theme {
      // .ar-chips--valid.ar-chips--theme .ar-chips__header
      #{$chips}__group {
        border-color: var(--color-border-success);

        // .ar-chips--valid.ar-chips--theme .ar-chips__group:hover
        &:hover {
          border-color: var(--color-border-success-hover);
        }

        // .ar-chips--valid.ar-chips--theme .ar-chips__group:focus
        &:focus {
          border-color: var(--color-border-success-active);
        }
      }
    }
  }

  // .ar-chips--invalid
  &--invalid {
    // .ar-chips--invalid .ar-chips__label, .ar-chips--invalid .ar-chips__errors
    #{$chips}__label,
    #{$chips}__errors {
      color: var(--color-text-danger);
    }

    // .ar-chips--invalid.ar-chips--theme
    &#{$chips}--theme {
      // .ar-chips--invalid.ar-chips--theme .ar-chips__group
      #{$chips}__group {
        border-color: var(--color-border-danger);

        // .ar-chips--invalid.ar-chips--theme .ar-chips__group:hover
        &:hover {
          border-color: var(--color-border-danger-hover);
        }

        // .ar-chips--invalid.ar-chips--theme .ar-chips__group:focus
        &:focus {
          border-color: var(--color-border-danger-active);
        }
      }
    }
  }

  // .ar-chips--primary
  &--primary {
    // .ar-chips--primary.ar-chips__header
    #{$chips}__group {
      color: var(--color-text-default-foreground);
      border-color: var(--color-border-primary);
    }

    // .ar-chips--primary .ar-chips__item
    #{$chips}__item {
      color: var(--color-text-default-foreground);
      background-color: var(--color-background-primary);
      border-color: var(--color-border-primary);

      &-remove {
        background-color: var(--color-background-primary-strong-active);

        &:hover {
          color: var(--color-text-default-contrast);
          background-color: var(--color-background-default-contrast);
        }
      }

      // .ar-chips--theme .ar-chips__item:hover
      &:hover {
        background-color: var(--color-background-primary-strong-hover);
      }

      // .ar-chips--theme .ar-chips--focused
      &--focused {
        background-color: var(--color-background-primary-strong-active);

        // .ar-chips--theme .ar-chips--focused .ar-chips--theme .ar-chips__item-remove
        #{$chips}__item-remove {
          color: var(--color-text-default-contrast);
          background-color: var(--color-background-default-contrast);
        }
      }
    }

    // .ar-chips--primary.ar-chips--hovered
    &#{$chips}--hovered {
      // .ar-chips--primary.ar-chips--hovered .ar-chips__header
      #{$chips}__header {
        border-color: var(--color-text-default-foreground);
      }
    }
  }

  // .ar-chips__group
  &__group {
    padding: var(--indent-padding-large);
    border: 1px solid;
    border-radius: var(--radius-default-medium);
  }

  // .ar-chips__label
  &__label {
    position: relative;
    display: block;
  }

  // .ar-chips__list
  &__list {
    display: flex;
    gap: var(--indent-padding-medium);
    padding: var(--indent-margin-medium) 0;
    margin: 0;
    list-style: none;
  }

  // .ar-chips__item
  &__item {
    display: inline-flex;
    align-items: center;
    cursor: default;
    border-radius: var(--radius-default-small);
    transition: background-color var(--transition-default-easein);

    // .ar-chips__item-remove
    &-remove {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: 6px;
      cursor: pointer;
      border-radius: 50%;
      transition: all var(--transition-default-easein);
    }
  }

  // .ar-chips__errors
  &__errors {
    @include theme.text-style-helper(t3);

    // .ar-chips__errors-expand-enter-active, .ar-chips__errors--expand-leave-active
    &-expand-enter-active,
    &-expand-leave-active {
      overflow: hidden;
      transition:
        height 0.2s ease,
        padding-top 0.2s ease;
    }

    // .ar-chips__errors--expand-enter-from, .ar-chips__errors---expand-leave-to
    &-expand-enter-from,
    &-expand-leave-to {
      height: 0 !important;
      padding-top: 0 !important;
    }
  }
}
