@use '../../../ariadna' as theme;

$dialog: '.ar-dialog';

#{$dialog} {
  position: fixed;
  inset: 0;
  z-index: 9999;

  // .ar-dialog--theme
  &--theme {
    // .ar-dialog--theme .ar-dialog__overlay
    #{$dialog}__overlay {
      background-color: rgb(66 66 68 / 75%);
    }

    // .ar-dialog--theme .ar-dialog__header, .ar-dialog--theme .ar-dialog__content, .ar-dialog--theme .ar-dialog__footer
    #{$dialog}__header,
    #{$dialog}__content,
    #{$dialog}__footer {
      background-color: var(--color-background-default-weak);
    }

    // .ar-dialog--theme .ar-dialog__header
    #{$dialog}__header {
      border-bottom-color: var(--color-border-default);
    }

    // .ar-dialog--theme .ar-dialog__footer
    #{$dialog}__footer {
      border-top-color: var(--color-border-default);
    }
  }

  // .ar-dialog--shake
  &--shake {
    // .ar-dialog--shake .ar-dialog__dialog
    #{$dialog}__dialog {
      animation: dialog-shake 0.8s;
      animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    }
  }

  // .ar-dialog--maximized
  &--maximized {
    // .ar-dialog--maximized .ar-dialog__dialog
    #{$dialog}__dialog {
      width: 100%;
      max-width: 100%;
      height: 100vh;
      max-height: 100%;
      border-radius: unset;
    }

    // .ar-dialog--maximized .ar-dialog__content
    #{$dialog}__content {
      flex-grow: 1;
    }
  }

  // .ar-dialog--dragging
  &--dragging {
    cursor: move;
    user-select: none;
  }

  // .ar-dialog--content-scrollable
  &--content-scrollable {
    // .ar-dialog--content-scrollable .ar-dialog__content
    #{$dialog}__content {
      overflow-x: auto;
    }
  }

  // .ar-dialog--primary
  &--primary {
    // .ar-dialog--primary.ar-dialog--theme
    &#{$dialog}--theme {
      color: var(--color-text-default-foreground);

      // .ar-dialog--theme .ar-dialog__header, .ar-dialog--theme .ar-dialog__content, .ar-dialog--theme .ar-dialog__footer
      #{$dialog}__header,
      #{$dialog}__content,
      #{$dialog}__footer {
        background-color: var(--color-background-primary);
      }
    }
  }

  // .ar-dialog__overlay
  &__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
  }

  // .ar-dialog-forms__container
  &__container {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .ar-dialog__dialog
  &__dialog {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    max-width: 960px;
    max-height: calc(100% - 50px);
    overflow-x: auto;
    border-radius: var(--radius-default-large);
  }

  // .ar-dialog__header
  &__header {
    @include theme.text-style-helper(t1);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--indent-padding-xlarge);
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  // .ar-dialog__content
  &__content {
    @include theme.text-style-helper(t2);

    padding: var(--indent-padding-xlarge);
  }

  // .ar-dialog__footer
  &__footer {
    @include theme.text-style-helper(t3);

    padding: var(--indent-padding-xlarge);
    border-top-style: solid;
    border-top-width: 1px;
  }

  // Анимация появления
  &__animation-enter-active,
  &__animation-leave-active {
    transition: transform 0.3s cubic-bezier(0.5, 0, 0, 1);
  }

  // Анимация появления overlay элемента
  &__animation-enter-active #{$dialog}__overlay,
  &__animation-leave-active #{$dialog}__overlay {
    transition: opacity 0.3s ease-in-out;
  }

  // Анимация удаления overlay элемента
  &__animation-enter-from #{$dialog}__overlay,
  &__animation-leave-to #{$dialog}__overlay {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }

  // Анимация появления dialog элемента
  &__animation-enter-active #{$dialog}__dialog,
  &__animation-leave-active #{$dialog}__dialog {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }

  // Анимация удаления dialog элемента
  &__animation-enter-from #{$dialog}__dialog,
  &__animation-leave-to #{$dialog}__dialog,
  &__animation-leave-from #{$dialog}__dialog {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
}

@keyframes dialog-shake {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.04);
  }

  20% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.04);
  }

  40% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}
