@use 'sass:string';

$break-sm: 640px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1280px;

@mixin sm() {
  @media screen and (min-width: $break-sm) {
    @content;
  }
}

@mixin md() {
  @media screen and (min-width: $break-md) {
    @content;
  }
}

@mixin lg() {
  @media screen and (min-width: $break-lg) {
    @content;
  }
}

@mixin xl() {
  @media screen and (min-width: $break-xl) {
    @content;
  }
}

@mixin grid-settings() {
  --container: 100%;
  --debug-container: '100%';
  --fields: 16px;
  --debug-fields: '16px';
  --gap: 18px;
  --debug-gap: '18px';
  --debug-breakpoint: 'null';

  @include sm {
    --container: 100%;
    --debug-container: '100%';
    --debug-breakpoint: 'sm';
  }

  @include md {
    --container: 100%;
    --debug-container: '100%';
    --debug-breakpoint: 'md';
  }

  @include lg {
    --container: 100%;
    --debug-container: '100%';
    --debug-breakpoint: 'lg';
  }

  @include xl {
    --container: 1600px;
    --debug-container: '1600px';
    --debug-breakpoint: 'xl';
  }
}

@mixin grid-container() {
  @include grid-container-fluid;

  max-width: var(--container);
  margin: 0 auto;

  @extend %grid-debug !optional;
}

@mixin grid-container-fluid() {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding-right: var(--fields);
  padding-left: var(--fields);

  @extend %grid-debug !optional;
}

@mixin debug($columns, $columns-sm: null, $columns-md: null, $columns-lg: null, $columns-xl: null) {
  %grid-debug {
    --columns: #{$columns};
    --grid-column-width: calc((100% - var(--gap) * var(--columns)) / var(--columns));
    --grid-column-width-gap: calc(var(--grid-column-width) + var(--gap));
    --grid-column-half-width-gap: calc(var(--grid-column-width) + var(--gap) / 2);
    --half-gap: calc(var(--gap) / 2);
    --grid-color: rgb(255 0 0 / 20%);
    --padding-color: #6ccc7e73;
    --heading-hint: 'BreakPoint: ' var(--debug-breakpoint) '; Container: ' var(--debug-container)
      '; Fields: ' var(--debug-fields) '; ' 'Gap: ' var(--debug-gap);

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 9999;
      height: calc(100% - 0px);
      padding: 5px var(--fields) 25px;
      font-family: system-ui;
      font-size: 20px;
      font-weight: 500;
      color: #00000080;
      text-align: center;
      pointer-events: none;
      content: var(--heading-hint);
      counter-reset: variable var(--columns);
      background-image: repeating-linear-gradient(
        to left,
        transparent 0,
        transparent var(--half-gap),
        var(--grid-color) var(--half-gap),
        var(--grid-color) var(--grid-column-half-width-gap),
        transparent var(--grid-column-half-width-gap),
        transparent var(--grid-column-width-gap)
      );
      background-repeat: space;
      border: solid transparent;
      border-width: 0 calc(var(--fields) - var(--gap) / 2);
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9999;
      width: 100%;
      height: calc(100% - 0px);
      padding-top: 20px;
      font-family: system-ui;
      font-size: 13px;
      font-weight: 500;
      color: #00000080;
      text-align: center;
      pointer-events: none;
      content: counter(variable) ' columns grid';
      background-image:
        linear-gradient(to left, var(--padding-color) 0, var(--padding-color) var(--fields)),
        linear-gradient(to left, var(--padding-color) 0, var(--padding-color) var(--fields));
      background-repeat: no-repeat;
      background-position:
        0 0,
        100% 0;
      background-size:
        var(--fields) 100%,
        var(--fields) 100%;
    }

    @include sm {
      --columns: #{$columns-sm};
    }

    @include md {
      --columns: #{$columns-md};
    }

    @include lg {
      --columns: #{$columns-lg};
    }

    @include xl {
      --columns: #{$columns-xl};
    }
  }
}

@mixin grid($columns, $columns-sm: null, $columns-md: null, $columns-lg: null, $columns-xl: null) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: var(--gap);
  width: 100%;

  @if $columns-sm {
    @include sm {
      grid-template-columns: repeat($columns-sm, 1fr);
    }
  }

  @if $columns-md {
    @include md {
      grid-template-columns: repeat($columns-md, 1fr);
    }
  }

  @if $columns-lg {
    @include lg {
      grid-template-columns: repeat($columns-lg, 1fr);
    }
  }

  @if $columns-xl {
    @include xl {
      grid-template-columns: repeat($columns-xl, 1fr);
    }
  }
}

@mixin theme-light() {
  & {
    --color-text-default: #1e1f21;
    --color-text-default-foreground: #fff;
    --color-text-default-disabled: #afabac;
    --color-text-default-weak: #6d6e6f;
    --color-text-default-contrast: #f5f4f3;
    --color-text-primary: #3f6ac4;
    --color-text-primary-hover: #4464bb;
    --color-text-primary-strong: #000;
    --color-text-secondary: #6e66b1;
    --color-text-secondary-hover: #5e57a0;
    --color-text-secondary-strong: #000;
    --color-text-success: #0d7f56;
    --color-text-success-hover: #12714d;
    --color-text-success-strong: #000;
    --color-text-warning: #986516;
    --color-text-warning-hover: #805411;
    --color-text-warning-strong: #000;
    --color-text-danger: #c92f54;
    --color-text-danger-hover: #a42b45;
    --color-text-danger-strong: #000;
    --color-text-selected: #3f6ac4;
    --color-text-selected-hover: #4464bb;
    --color-text-selected-strong: #000;
    --color-icon-default: #6d6e6f;
    --color-icon-default-foreground: #fff;
    --color-icon-default-hover: #1e1f21;
    --color-icon-default-active: #1e1f21;
    --color-icon-default-disabled: #afabac;
    --color-icon-default-strong: #6d6e6f;
    --color-icon-primary: #3f6ac4;
    --color-icon-primary-strong: #fff;
    --color-icon-secondary: #8d84e8;
    --color-icon-secondary-hover: #7d75c8;
    --color-icon-secondary-strong: #fff;
    --color-icon-success: #58a182;
    --color-icon-success-hover: #368e6a;
    --color-icon-success-strong: #fff;
    --color-icon-warning: #f1bd6c;
    --color-icon-warning-hover: #b58e53;
    --color-icon-warning-strong: #1e1f21;
    --color-icon-danger: #de5f73;
    --color-icon-danger-hover: #d33e5d;
    --color-icon-danger-strong: #fff;
    --color-icon-selected: #3f6ac4;
    --color-icon-selected-strong: #fff;
    --color-border-default: #edeae9;
    --color-border-default-hover: #afabac;
    --color-border-default-active: #6d6e6f;
    --color-border-default-strong: #cfcbcb;
    --color-border-primary: #3f6ac4;
    --color-border-secondary: #8d84e8;
    --color-border-secondary-hover: #726ab9;
    --color-border-secondary-active: #726ab9;
    --color-border-success: #8dc2ac;
    --color-border-success-hover: #58a182;
    --color-border-success-active: #58a182;
    --color-border-warning: #f1bd6c;
    --color-border-warning-hover: #b58e53;
    --color-border-danger: #f1a2a9;
    --color-border-danger-hover: #e37281;
    --color-border-danger-active: #e37281;
    --color-border-selected: #3f6ac4;
    --color-border-selected-hover: #3f6ac4;
    --color-border-selected-active: #3f6ac4;
    --color-background-default-weak: #fff;
    --color-background-default-medium: #f9f8f8;
    --color-background-default-strong: #f5f3f3;
    --color-background-default-contrast: #2a2b2d;
    --color-background-default-hover: rgb(55 23 23 / 3%);
    --color-background-default-active: rgb(55 23 23 / 5%);
    --color-background-primary: #4573d2;
    --color-background-primary-strong-hover: #426dc6;
    --color-background-primary-strong-active: #3f66ba;
    --color-background-secondary: #f6f4fd;
    --color-background-secondary-hover: #eae8fb;
    --color-background-secondary-active: #e0def9;
    --color-background-secondary-strong: #736bc4;
    --color-background-secondary-strong-hover: #6860b0;
    --color-background-secondary-strong-active: #5e57a0;
    --color-background-success: #e6f8f1;
    --color-background-success-hover: #e0f4ec;
    --color-background-success-active: #cce8dd;
    --color-background-success-strong: #58a182;
    --color-background-success-strong-hover: #519d7d;
    --color-background-success-strong-active: #3f9470;
    --color-background-warning: #fff6ee;
    --color-background-warning-hover: #ffecda;
    --color-background-warning-active: #fedcb6;
    --color-background-warning-strong: #f1bd6c;
    --color-background-warning-strong-hover: #e8b668;
    --color-background-warning-strong-active: #e2b266;
    --color-background-danger: #ef375d;
    --color-background-danger-hover: #e64164;
    --color-background-danger-active: #e14869;
    --color-background-danger-strong: #d33e5d;
    --color-background-danger-strong-hover: #c92f54;
    --color-background-danger-strong-active: #a42b45;
    --color-background-selected: #f1f2fc;
    --color-background-selected-hover: #e7e9fc;
    --color-background-selected-active: #dbe0fd;
    --color-background-selected-strong: #4573d2;
    --color-background-selected-strong-hover: #426dc6;
    --color-background-selected-strong-active: #3f66ba;
    --color-shadow-default-small: rgb(109 110 111 / 8%);
    --color-shadow-default-medium: rgb(109 110 111 / 10%);
    --color-shadow-default-large: rgb(109 110 111 / 12%);
  }
}

@mixin theme-dark() {
  & {
    --color-text-default: #f5f4f3;
    --color-text-default-foreground: #f5f4f3;
    --color-text-default-disabled: #6a696a;
    --color-text-default-weak: #a2a0a2;
    --color-text-default-contrast: #1e1f21;
    --color-text-primary: #689af3;
    --color-text-primary-hover: #5688e5;
    --color-text-primary-strong: #fff;
    --color-text-secondary: #a499ed;
    --color-text-secondary-hover: #b6adf1;
    --color-text-secondary-strong: #fff;
    --color-text-success: #66a88b;
    --color-text-success-hover: #93c0aa;
    --color-text-success-strong: #fff;
    --color-text-warning: #f1bd6c;
    --color-text-warning-hover: #f6c682;
    --color-text-warning-strong: #fff;
    --color-text-danger: #eb7586;
    --color-text-danger-hover: #ec8e98;
    --color-text-danger-strong: #fff;
    --color-text-selected: #689af3;
    --color-text-selected-hover: #5688e5;
    --color-text-selected-strong: #fff;
    --color-icon-default: #a2a0a2;
    --color-icon-default-foreground: #f5f4f3;
    --color-icon-default-hover: #f5f4f3;
    --color-icon-default-active: #f5f4f3;
    --color-icon-default-disabled: #6a696a;
    --color-icon-default-strong: #f5f4f3;
    --color-icon-primary: #4573d2;
    --color-icon-primary-strong: #fff;
    --color-icon-secondary: #a499ed;
    --color-icon-secondary-hover: #b6adf1;
    --color-icon-secondary-strong: #fff;
    --color-icon-success: #5da283;
    --color-icon-success-hover: #74af93;
    --color-icon-success-strong: #fff;
    --color-icon-warning: #f1bd6c;
    --color-icon-warning-hover: #f6c682;
    --color-icon-warning-strong: #1e1f21;
    --color-icon-danger: #d1395a;
    --color-icon-danger-hover: #eb7586;
    --color-icon-danger-strong: #fff;
    --color-icon-selected: #4573d2;
    --color-icon-selected-strong: #fff;
    --color-border-default: #424244;
    --color-border-default-hover: #6a696a;
    --color-border-default-active: #a2a0a2;
    --color-border-default-strong: #565557;
    --color-border-primary: #4573d2;
    --color-border-secondary: #726ab9;
    --color-border-secondary-hover: #a499ed;
    --color-border-secondary-active: #a499ed;
    --color-border-success: #32695d;
    --color-border-success-hover: #4b8a73;
    --color-border-success-active: #4b8a73;
    --color-border-warning: #735c38;
    --color-border-warning-hover: #b89054;
    --color-border-danger: #b12d4b;
    --color-border-danger-hover: #d1395a;
    --color-border-danger-active: #d1395a;
    --color-border-selected: #4573d2;
    --color-border-selected-hover: #4573d2;
    --color-border-selected-active: #4573d2;
    --color-background-default-weak: #1e1f21;
    --color-background-default-medium: #252628;
    --color-background-default-strong: #2a2b2d;
    --color-background-default-contrast: #f5f3f3;
    --color-background-default-hover: rgb(255 255 255 / 6%);
    --color-background-default-active: rgb(255 255 255 / 11%);
    --color-background-primary: #4573d2;
    --color-background-primary-strong-hover: #426dc6;
    --color-background-primary-strong-active: #3f66ba;
    --color-background-secondary: #332f50;
    --color-background-secondary-hover: #3c3766;
    --color-background-secondary-active: #443f74;
    --color-background-secondary-strong: #736bc4;
    --color-background-secondary-strong-hover: #6860b0;
    --color-background-secondary-strong-active: #5e57a0;
    --color-background-success: #1d3733;
    --color-background-success-hover: #21433d;
    --color-background-success-active: #244d46;
    --color-background-success-strong: #5da283;
    --color-background-success-strong-hover: #89baa2;
    --color-background-success-strong-active: #93c0aa;
    --color-background-warning: #3d3120;
    --color-background-warning-hover: #493b26;
    --color-background-warning-active: #54432b;
    --color-background-warning-strong: #f1bd6c;
    --color-background-warning-strong-hover: #e8b668;
    --color-background-warning-strong-active: #e2b266;
    --color-background-danger: #581e28;
    --color-background-danger-hover: #64202c;
    --color-background-danger-active: #6e2230;
    --color-background-danger-strong: #d1395a;
    --color-background-danger-strong-hover: #b12d4b;
    --color-background-danger-strong-active: #99203c;
    --color-background-selected: #172237;
    --color-background-selected-hover: #1a2843;
    --color-background-selected-active: #2a3c68;
    --color-background-selected-strong: #4573d2;
    --color-background-selected-strong-hover: #426dc6;
    --color-background-selected-strong-active: #3f66ba;
    --color-shadow-default-small: rgb(0 0 0 / 24%);
    --color-shadow-default-medium: rgb(0 0 0 / 24%);
    --color-shadow-default-large: rgb(0 0 0 / 24%);
  }
}

@mixin font-size() {
  & {
    --font-size-h1: 48px;
    --font-size-h2: 36px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;
    --font-size-h5: 16px;
    --font-size-t1: 20px;
    --font-size-t2: 16px;
    --font-size-t3: 14px;
    --font-size-t4: 12px;
  }
}

@mixin font-weight() {
  & {
    --font-weight-h1: 600;
    --font-weight-h2: 600;
    --font-weight-h3: 600;
    --font-weight-h4: 600;
    --font-weight-h5: 600;
    --font-weight-t1: 400;
    --font-weight-t2: 400;
    --font-weight-t3: 400;
    --font-weight-t4: 400;
  }
}

@mixin font-height() {
  & {
    --font-height-h1: 56px;
    --font-height-h2: 40px;
    --font-height-h3: 24px;
    --font-height-h4: 28px;
    --font-height-h5: 20px;
    --font-height-t1: 28px;
    --font-height-t2: 24px;
    --font-height-t3: 22px;
    --font-height-t4: 18px;
  }
}

@mixin indent-padding() {
  & {
    --indent-padding-small: 4px;
    --indent-padding-medium: 8px;
    --indent-padding-large: 12px;
    --indent-padding-xlarge: 16px;
  }
}

@mixin indent-margin() {
  & {
    --indent-margin-small: 4px;
    --indent-margin-medium: 8px;
    --indent-margin-large: 12px;
    --indent-margin-xlarge: 16px;
  }
}

@mixin radius-default() {
  & {
    --radius-default-small: 4px;
    --radius-default-medium: 6px;
    --radius-default-large: 8px;
    --radius-default-xlarge: 12px;
  }
}

@mixin transition-default() {
  & {
    --transition-default-linear: 0.2s linear;
    --transition-default-ease: 0.2s ease;
    --transition-default-easein: 0.2s cubic-bezier(0.4, 0, 1, 1);
    --transition-default-easeout: 0.2s cubic-bezier(0.2, 0, 0, 1);
    --transition-default-easeinout: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@mixin text-style-helper($name) {
  font-size: var(--font-size-#{$name});
  font-weight: var(--font-weight-#{$name});
  line-height: var(--font-height-#{$name});
}

@mixin column-offset(
  $offset,
  $offset-sm: null,
  $offset-md: null,
  $offset-lg: null,
  $offset-xl: null
) {
  grid-column: string.unquote($offset);

  @if $offset-sm {
    @include sm {
      grid-column: string.unquote($offset-sm);
    }
  }

  @if $offset-md {
    @include md {
      grid-column: string.unquote($offset-md);
    }
  }

  @if $offset-lg {
    @include lg {
      grid-column: string.unquote($offset-lg);
    }
  }

  @if $offset-xl {
    @include xl {
      grid-column: string.unquote($offset-xl);
    }
  }
}
