@use '../../../ariadna' as theme;

$card: '.ar-card';

#{$card} {
  --collapsed-height: 60px;

  position: relative;
  padding: 32px;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--radius-default-medium);

  // .ar-card--theme
  &--theme {
    background: var(--color-background-default-strong);
    border-color: var(--color-border-default);
  }

  // .ar-card--primary
  &--primary {
    // .ar-card--primary.ar-card--theme
    &#{$card}--theme {
      background: var(--color-background-primary);
      border-color: var(--color-border-primary);
    }
  }

  // .ar-card__picture
  &__picture {
    width: 100%;
    text-align: center;
  }

  // .ar-card__content
  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    // .ar-card__content-header
    &-header {
      text-align: center;
    }

    // .ar-card__content-text
    &-text {
      overflow: hidden;

      // .ar-card__content-text--collapse
      &--collapse {
        // .ar-card__content-text--collapse-enter-active, .ar-card__content-text--collapse-leave-active
        &-enter-active,
        &-leave-active {
          transition: height 0.2s ease;
        }

        // .ar-card__content-text--collapse-enter-from, .ar-card__content-text--collapse-leave-to
        &-enter-from,
        &-leave-to {
          height: 60px;
          transition: height 0.35s ease;
        }
      }

      // .ar-card__content-text--collapsed
      &--collapsed {
        display: -webkit-box !important;
        height: var(--collapsed-height);
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }

    // .ar-card__content-footer
    &-footer {
      display: flex;
      gap: 16px;
      justify-content: center;
    }
  }

  // .ar-card__content__footer
  &__footer {
    @include theme.text-style-helper(t2);

    text-align: right;
  }
}
