@use '../../../ariadna' as theme;

$desktop-menu: '.ar-desktop-menu';

#{$desktop-menu} {
  width: 100%;
  height: 100%;

  // .ar-desktop-menu--theme
  &--theme {
    // .ar-desktop-menu--theme .ar-desktop-menu__wrapper
    #{$desktop-menu}__wrapper {
      background: var(--color-background-default-weak);
      border-color: var(--color-border-default);
    }

    // .ar-desktop-menu--theme .ar-desktop-menu__rubricator
    #{$desktop-menu}__rubricator {
      // .ar-desktop-menu--theme .ar-desktop-menu__rubricator-item
      &-item {
        // .ar-desktop-menu--theme .ar-desktop-menu__rubricator-item:hover
        &:hover {
          background: var(--color-background-default-hover);
        }
      }
    }

    // .ar-desktop-menu--theme .ar-desktop-menu__menu
    #{$desktop-menu}__menu {
      // .ar-desktop-menu--theme .ar-desktop-menu__menu-items
      &-items {
        background: var(--color-background-default-medium);
      }
    }
  }

  // .ar-desktop-menu--invalid
  &--invalid {
    // .ar-desktop-menu--invalid.ar-desktop-menu--theme
    &#{$desktop-menu}--theme {
      // .ar-desktop-menu--invalid.ar-desktop-menu--theme .ar-desktop-menu__wrapper
      #{$desktop-menu}__wrapper {
        border-color: var(--color-border-danger);
        transition: border-color var(--transition-default-easein);
      }
    }
  }

  // .ar-desktop-menu__wrapper
  &__wrapper {
    position: relative;
    width: 100%;
    padding: var(--indent-padding-large);
    overflow: hidden;
    background: red;
    border-style: solid;
    border-width: 1px;
    border-radius: var(--radius-default-medium);
    transition: border-color var(--transition-default-easeout);
  }

  // .ar-desktop-menu__container
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--indent-padding-xlarge);
  }

  // .ar-desktop-menu__rubricator
  &__rubricator {
    display: flex;
    flex-flow: column nowrap;
    grid-column: span 3;
    overflow: hidden auto;

    // .ar-desktop-menu__rubricator-item
    &-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: var(--indent-margin-large);
      border-radius: var(--radius-default-medium);
      transition: background var(--transition-default-easein);

      // .ar-desktop-menu__rubricator-item:hover
      &:hover {
        text-decoration: none;
        transition: background var(--transition-default-easeout);
      }
    }
  }

  // .ar-desktop-menu__menu
  &__menu {
    grid-column: span 9;
    overflow: hidden auto;

    // .ar-desktop-menu__menu-title
    &-title {
      @include theme.text-style-helper(h3);
    }

    // .ar-desktop-menu__menu-wrapper
    &-wrapper {
      display: flex;
      flex-flow: row wrap;
      padding-top: var(--indent-padding-xlarge);
    }

    // .ar-desktop-menu__menu-subtitle
    &-subtitle {
      display: block;

      @include theme.text-style-helper(h5);

      margin-bottom: var(--indent-margin-large);
    }

    // .ar-desktop-menu__menu-items
    &-items {
      padding: var(--indent-padding-xlarge);
      margin: var(--indent-margin-xlarge);
      border-radius: var(--radius-default-medium);
    }
  }

  // .ar-desktop-menu__submenu
  &__submenu {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;

    // .ar-desktop-menu__submenu-item
    &-item {
      // .ar-desktop-menu__submenu-item--hidden
      &--hidden {
        display: none;
      }
    }
  }

  // .ar-desktop-menu__loading, .ar-desktop-menu__error
  &__loading,
  &__error {
    display: flex;
    grid-column: span 12;
    align-items: center;
    justify-content: center;
  }

  // .ar-desktop-menu__second-level
  &__second-level {
    // .ar-desktop-menu__second-level-col
    &-col {
      width: 33%;
    }
  }
}
