@font-face {
font-family: icons;
src: url("./icons.woff2?7caa35b304d9568411216b9807cbe553") format("woff2");
font-display: swap;
}

  i[class^="icon-"]::before, i[class*=" icon-"]::before {
font-family: icons;
font-style: normal;
font-weight: normal !important;
font-variant: normal;
line-height: 1;
text-transform: none;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

    .icon-line-right::before {
  content: "\f101";
  }

    .icon-line-left::before {
  content: "\f102";
  }

    .icon-line-eye::before {
  content: "\f103";
  }

    .icon-line-eye-off::before {
  content: "\f104";
  }

    .icon-line-close::before {
  content: "\f105";
  }

    .icon-fill-volume-on::before {
  content: "\f106";
  }

    .icon-fill-volume-off::before {
  content: "\f107";
  }

    .icon-fill-play::before {
  content: "\f108";
  }

    .icon-fill-pause::before {
  content: "\f109";
  }

    .icon-fill-fullscreen-out::before {
  content: "\f10a";
  }

    .icon-fill-fullscreen-in::before {
  content: "\f10b";
  }
