@use '../../../ariadna' as theme;
@use '../../../../../_mixins/placeholder' as mixins;

$input-phone: '.ar-input-phone';

#{$input-phone} {
  position: relative;
  width: 100%;

  // .ar-input-phone--theme
  &--theme {
    // .ar-input-phone--theme .ar-input-phone__group
    #{$input-phone}__group {
      color: var(--color-text-default-weak);
      background: var(--color-background-default-weak);
      border-color: var(--color-border-default);
    }

    // .ar-input-phone--theme .ar-input-phone__input
    #{$input-phone}__input {
      color: var(--color-text-default-weak);
      background: transparent;
      border-color: var(--color-border-default);
    }

    // .ar-input-phone--theme .ar-input-phone__input-cloned
    #{$input-phone}__input-cloned {
      color: var(--color-text-default-weak);
      background: transparent;
      border-color: transparent;

      @include mixins.placeholder {
        opacity: 1;
      }
    }
  }

  // .ar-input-phone--focused
  &--focused {
    // .ar-input-phone--focused.ar-input-phone--theme
    &#{$input-phone}--theme {
      // .ar-input-phone--focused.ar-input-phone--theme .ar-input-phone__input
      #{$input-phone}__input {
        border-color: var(--color-border-default-active);
      }
    }
  }

  // .ar-input-phone--hovered
  &--hovered {
    // .ar-input-phone--hover.ar-input-phone--theme
    &#{$input-phone}--theme {
      // .ar-input-phone--hover.ar-input-phone--theme .ar-input-phone__input
      #{$input-phone}__input {
        border-color: var(--color-border-default-hover);
      }
    }
  }

  // .ar-input-phone--disabled
  &--disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  // .ar-input-phone--readonly
  &--readonly {
    #{$input-phone}__input {
      font-size: 16px;
      border: 0;
    }
  }

  // .ar-input-phone--filled
  &--filled {
    // .ar-input-phone--filled .ar-input-phone__placeholder
    #{$input-phone}__placeholder {
      display: none;
    }

    // .ar-input-phone--filled .ar-input-phone__input-cloned
    #{$input-phone}__input-cloned {
      opacity: 1;
    }
  }

  // .ar-input-phone--valid
  &--valid {
    // .ar-input-phone--valid.ar-input-phone--theme
    &#{$input-phone}--theme {
      // .ar-input-phone--valid.ar-input-phone--theme .ar-input-phone__input
      #{$input-phone}__input {
        border-color: var(--color-border-success);

        // .ar-input-phone--valid.ar-input-phone--theme .ar-input-phone__input:hover
        &:hover {
          border-color: var(--color-border-success-hover);
        }

        // .ar-input-phone--valid.ar-input-phone--theme .ar-input-phone__input:focus
        &:focus {
          border-color: var(--color-border-success-active);
        }
      }
    }
  }

  // .ar-input-phone--invalid
  &--invalid {
    color: var(--color-text-danger);

    // .ar-input-phone--invalid.ar-input-phone--theme
    &#{$input-phone}--theme {
      // .ar-input-phone--invalid.ar-input-phone--theme .ar-input-phone__input
      #{$input-phone}__input {
        border-color: var(--color-border-danger);

        // .ar-input-phone--invalid.ar-input-phone--theme .ar-input-phone__input:hover
        &:hover {
          border-color: var(--color-border-danger-hover);
        }

        // .ar-input-phone--invalid.ar-input-phone--theme .ar-input-phone__input:focus
        &:focus {
          border-color: var(--color-border-danger-active);
        }
      }
    }
  }

  // .ar-input-phone--small
  &--small {
    #{$input-phone}__input,
    #{$input-phone}__input-cloned {
      @include theme.text-style-helper(t3);

      padding: var(--indent-margin-small) var(--indent-margin-medium);
    }
  }

  // .ar-input-phone--medium
  &--medium {
    #{$input-phone}__input,
    #{$input-phone}__input-cloned {
      @include theme.text-style-helper(t3);

      padding: var(--indent-margin-medium) var(--indent-margin-large);
    }
  }

  // .ar-input-phone--large
  &--large {
    #{$input-phone}__input,
    #{$input-phone}__input-cloned {
      @include theme.text-style-helper(t3);

      padding: var(--indent-margin-large) var(--indent-margin-xlarge);
    }
  }

  // .ar-input-phone--primary
  &--primary {
    // .ar-input-phone--primary.ar-input-phone__input
    #{$input-phone}__input {
      color: var(--color-text-default-foreground);
      background: var(--color-background-primary);
      border-color: var(--color-border-primary);
    }

    // .ar-input-phone--primary.ar-input-phone--hovered
    &#{$input-phone}--hovered {
      // .ar-input-phone--primary.ar-input-phone--hovered .ar-input-phone__input
      #{$input-phone}__input {
        border-color: var(--color-text-default-foreground);
      }
    }
  }

  // .ar-input-phone__group
  &__group {
    position: relative;
    margin-top: 24px;
    border-radius: var(--radius-default-medium);
  }

  // .ar-input-phone__label
  &__label {
    position: absolute;
    top: -24px;
    display: block;
  }

  // .ar-input-phone__input, .ar-input-phone__input-cloned
  &__input,
  &__input-cloned {
    box-sizing: border-box;
    display: inline-flex;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    text-overflow: ellipsis;
    outline: 0;
    background-color: inherit;
    border-style: solid;
    border-width: 1px;
    border-radius: var(--radius-default-medium);
  }

  // .ar-input-phone__input
  &__input {
    position: relative;
    z-index: 2;
  }

  // .ar-input-phone__input-cloned
  &__input-cloned {
    position: absolute;
    left: 0;
    z-index: 1;
    opacity: 0;
  }

  // .ar-input-phone__placeholder
  &__placeholder {
    @include theme.text-style-helper(t3);

    position: absolute;
    top: 30px;
    left: 10px;
    pointer-events: none;
    opacity: 0.3;
  }

  // .ar-input-phone__errors
  &__errors {
    @include theme.text-style-helper(t3);

    // .ar-input-phone__errors-expand-enter-active, .ar-input-phone__errors--expand-leave-active
    &-expand-enter-active,
    &-expand-leave-active {
      overflow: hidden;
      transition:
        height 0.2s ease,
        padding-top 0.2s ease;
    }

    // .ar-input-phone__errors--expand-enter-from, .ar-input-phone__errors---expand-leave-to
    &-expand-enter-from,
    &-expand-leave-to {
      height: 0 !important;
      padding-top: 0 !important;
    }
  }
}
