@use '../../../../themes/asana/asana' as theme;

$tabs: '.ar-tabs';

#{$tabs} {
  width: 100%;
  overflow: hidden;

  // .ar-tabs--theme
  &--theme {
    // .ar-tabs--theme .ar-tabs__tab
    #{$tabs}__tab {
      background: var(--color-background-default-medium);
      border-bottom-color: var(--color-border-default);

      &--active {
        background: var(--color-background-default-active);
        border-bottom-color: var(--color-border-default-active);
      }

      &:hover {
        background: var(--color-background-default-hover);
        border-bottom-color: var(--color-border-default-hover);
      }

      &:focus {
        background: var(--color-background-default-hover);
        border-bottom-color: var(--color-border-default-strong);
      }
    }
  }

  // .ar-tabs--slide
  &--slide {
    // .ar-tabs--slide .ar-tabs__header
    #{$tabs}__header {
      justify-content: flex-start;
    }
  }

  // .ar-tabs--sliding
  &--sliding {
    cursor: grabbing;

    // .ar-tabs--sliding .ar-tabs__header
    #{$tabs}__header {
      user-select: none;
    }

    // .ar-tabs--sliding .ar-tabs__tab
    #{$tabs}__tab {
      cursor: grabbing;
    }
  }

  // .ar-tabs--primary
  &--primary {
    // .ar-tabs--primary.ar-tabs--theme
    &#{$tabs}--theme {
      #{$tabs}__tab {
        background: var(--color-background-primary);
        border-bottom-color: var(--color-border-primary);

        &--active {
          background: var(--color-background-primary-strong-active);
          border-bottom-color: var(--color-border-primary-active);
        }

        &:hover {
          background: var(--color-background-primary-strong-hover);
          border-bottom-color: var(--color-border-primary);
        }
      }
    }
  }

  // .ar-tabs__header
  &__header {
    position: relative;
    display: flex;

    // .e-tabs__header-box
    &-box {
      display: flex;
      gap: var(--indent-padding-medium);
    }
  }

  &__tab {
    padding: var(--indent-padding-xlarge);
    cursor: pointer;
    outline: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-left-radius: var(--radius-default-small);
    border-top-right-radius: var(--radius-default-small);
    transition:
      background var(--transition-default-easein),
      border-bottom-color var(--transition-default-easein);

    &:hover {
      transition:
        background var(--transition-default-easeout),
        border-bottom-color var(--transition-default-easeout);
    }
  }

  // .e-tabs__content
  &__content {
    display: none;

    // .e-tabs__content--active
    &--active {
      display: block;
      margin-top: var(--indent-margin-xlarge);
    }
  }
}
