@use '../../../../themes/asana/asana' as theme;

$radio: '.ar-radio';

#{$radio} {
  position: relative;

  // .ar-radio--theme
  &--theme {
    // .ar-radio--theme .ar-radio__input
    #{$radio}__input {
      box-shadow: inset 0 0 0 1.5px var(--color-border-default);

      // .ar-radio--theme .ar-radio__input::after
      &::after {
        border-color: var(--color-background-default-weak);
      }
    }

    // .ar-radio--theme .ar-radio__custom
    #{$radio}__custom {
      background-color: var(--color-background-default-weak);
    }
  }

  // .ar-radio--focused
  &--focused {
    // .ar-radio--focused.ar-radio--theme
    &#{$radio}--theme {
      // .ar-radio--focused.ar-radio--theme .ar-radio__label
      #{$radio}__label {
        outline: none;
      }
    }
  }

  // .ar-radio--hovered
  &--hovered {
    // .ar-radio--hovered.ar-radio--theme
    &#{$radio}--theme {
      // .ar-radio--hovered.ar-radio--theme .ar-radio__label
      #{$radio}__label {
        background: var(--color-background-default-medium);
      }

      // .ar-radio-hover .ar-radio__custom
      #{$radio}__custom {
        background-color: var(--color-background-default-hover);
      }
    }
  }

  // .ar-radio--disabled
  &--disabled {
    pointer-events: none;

    #{$radio}__label {
      opacity: 0.3;
    }
  }

  // .ar-radio--checked
  &--checked {
    // .ar-radio--checked.ar-radio--theme
    &#{$radio}--theme {
      // .ar-radio--checked.ar-radio--theme.ar-radio--small
      &#{$radio}--small {
        // .ar-radio--checked.ar-radio--theme.ar-radio--small .ar-radio__input
        #{$radio}__input {
          box-shadow: inset 0 0 0 4px var(--color-background-default-contrast);
        }
      }

      // .ar-radio--checked.ar-radio--theme.ar-radio--medium
      &#{$radio}--medium {
        // .ar-radio--checked.ar-radio--theme.ar-radio--medium .ar-radio__input
        #{$radio}__input {
          box-shadow: inset 0 0 0 6px var(--color-background-default-contrast);
        }
      }

      // .ar-radio--checked.ar-radio--theme.ar-radio--large
      &#{$radio}--large {
        // .ar-radio--checked.ar-radio--theme.ar-radio--large .ar-radio__input
        #{$radio}__input {
          box-shadow: inset 0 0 0 8px var(--color-background-default-contrast);
        }
      }

      // .ar-radio-checked .ar-radio__custom
      #{$radio}__custom {
        border: 5px solid var(--color-background-default-contrast);
      }
    }
  }

  // .ar-radio--right
  &--right {
    #{$radio}__label {
      flex-direction: row-reverse;
    }
  }

  // .ar-radio--small
  &--small {
    // .ar-radio--small .ar-radio__label
    #{$radio}__label {
      gap: var(--indent-margin-small);
      padding: var(--indent-margin-medium);
    }

    // .ar-radio--small .ar-radio__input
    #{$radio}__input {
      width: 15px;
      height: 15px;
    }

    // .ar-radio--small .ar-radio__custom
    #{$radio}__custom {
      width: 19px;
      height: 19px;
    }
  }

  // .ar-radio--medium
  &--medium {
    // .ar-radio--medium .ar-radio__label
    #{$radio}__label {
      gap: var(--indent-margin-small);
      padding: var(--indent-margin-medium);
    }

    // .ar-radio--medium .ar-radio__input
    #{$radio}__input {
      width: 20px;
      height: 20px;
    }

    // .ar-radio--medium .ar-radio__custom
    #{$radio}__custom {
      width: 24px;
      height: 24px;
    }
  }

  // .ar-radio--large
  &--large {
    // .ar-radio--large .ar-radio__label
    #{$radio}__label {
      gap: var(--indent-margin-small);
      padding: var(--indent-margin-medium);
    }

    // .ar-radio--large .ar-radio__input
    #{$radio}__input {
      width: 25px;
      height: 25px;
    }

    // .ar-radio--large .ar-radio__custom
    #{$radio}__custom {
      width: 29px;
      height: 29px;
    }
  }

  // .ar-radio--valid
  &--valid {
    color: var(--color-text-success);

    // .ar-radio--valid.ar-radio--theme
    &#{$radio}--theme {
      // .ar-radio--valid.ar-radio--theme .ar-radio__custom
      #{$radio}__custom {
        // .ar-radio--valid.ar-radio--theme .ar-radio__custom .ar-radio__custom::after
        &::after {
          background: var(--color-background-success);
        }
      }

      // .ar-radio--valid.ar-radio--theme.ar-radio--checked
      &#{$radio}--checked {
        // .ar-radio--valid.ar-radio--theme.ar-radio--checked .ar-radio__input
        #{$radio}__input {
          background: var(--color-border-success);
        }

        // .ar-radio--valid.ar-radio--theme.ar-radio--checked .ar-radio__custom
        #{$radio}__custom {
          background: var(--color-background-success-strong);
        }
      }
    }
  }

  // .ar-radio--invalid
  &--invalid {
    color: var(--color-text-danger);

    // .ar-radio--invalid.ar-radio--theme
    &#{$radio}--theme {
      // .ar-radio--invalid.ar-radio--theme .ar-radio__custom
      #{$radio}__custom {
        // .ar-radio--invalid.ar-radio--theme .ar-radio__custom .ar-radio__custom::after
        &::after {
          background: var(--color-background-danger);
        }
      }

      // .ar-radio--invalid.ar-radio--theme.ar-radio--checked
      &#{$radio}--checked {
        // .ar-radio--invalid.ar-radio--theme.ar-radio--checked .ar-radio__input
        #{$radio}__input {
          background: var(--color-background-danger);
        }

        // .ar-radio--invalid.ar-radio--theme.ar-radio--checked .ar-radio__custom
        #{$radio}__custom {
          background: var(--color-background-danger-strong);
        }
      }
    }
  }

  // .ar-radio--primary
  &--primary {
    // .ar-radio--primary.ar-radio--theme
    &#{$radio}--theme {
      // .ar-radio--primary.ar-radio--theme .ar-radio__custom
      #{$radio}__custom {
        // .ar-radio--primary.ar-radio--theme .ar-radio__custom .ar-radio__custom::after
        &::after {
          background: var(--color-background-primary);
        }
      }

      // .ar-radio--primary.ar-radio--theme.ar-radio--checked
      &#{$radio}--checked {
        // .ar-radio--primary.ar-radio--theme.ar-radio--checked .ar-radio__input
        #{$radio}__input {
          background: var(--color-background-primary);
        }

        // .ar-radio--primary.ar-radio--theme.ar-radio--checked .ar-radio__custom
        #{$radio}__custom {
          background: var(--color-background-primary);
        }
      }
    }
  }

  // .ar-radio__label
  &__label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    transition: background 0.2s ease;
    -webkit-tap-highlight-color: transparent;
  }

  // .ar-radio__input
  &__input {
    @include theme.text-style-helper(t4);

    padding: 0;
    margin: 0;
    vertical-align: middle;
    appearance: none;
    pointer-events: none;
    background: none;
    border: 0;
    border-radius: var(--radius-default-xlarge);
    transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);

    // .ar-radio__input--hidden
    &--hidden {
      display: none;
    }
  }

  // .ar-radio__custom
  &__custom {
    display: block;
    overflow: hidden;
    border-radius: 50%;
    transition:
      200ms background-color,
      100ms border;
  }

  // .ar-radio__content
  &__content {
    user-select: none;
  }
}
