@use '../../../ariadna' as theme;

$slider: '.ar-slider';

#{$slider} {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--indent-margin-small);
  width: calc(100% - 10px);
  user-select: none;

  // .ar-slider--theme
  &--theme {
    // .ar-slider--theme .ar-slider__point
    #{$slider}__point {
      background-color: var(--color-background-default-contrast);
    }

    // .ar-slider--theme .ar-slider__track
    #{$slider}__track {
      background-color: var(--color-background-default-weak);

      // .ar-slider--theme .ar-slider__track-additional
      &-additional {
        background-color: var(--color-background-default-contrast);

        // .ar-slider--theme .ar-slider__track-additional-label
        &-label {
          color: white;
          background-color: var(--color-background-default-weak);
        }

        // .ar-slider--theme .ar-slider__track-additional-double
        &-double {
          background-color: var(--color-background-success-strong-active);
        }

        // .ar-slider--theme .ar-slider__track-thumb
        &-thumb {
          background-color: var(--color-background-default-contrast);

          // .ar-slider--theme .ar-slider__track-thumb-double
          &-double {
            background-color: var(--color-background-success-strong-active);
          }
        }
      }
    }
  }

  // .ar-slider--points
  &--points {
    // .ar-slider--points.ar-slider__point
    #{$slider}__point {
      display: block;
    }
  }

  // .ar-slider--hovered
  &--hovered {
    // .ar-slider--hover.ar-slider--theme
    &#{$slider}--theme {
      // .ar-slider--hover.ar-slider--theme .ar-slider__track
      #{$slider}__track {
        background-color: var(--color-background-default-hover);
      }
    }
  }

  // .ar-slider--disabled
  &--disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  // .ar-slider--valid
  &--valid {
    color: var(--color-text-success);

    // .ar-slider--valid.ar-slider--theme
    &#{$slider}--theme {
      // .ar-slider--valid.ar-slider--theme .ar-slider__track
      #{$slider}__track {
        background-color: var(--color-background-success);

        // .ar-slider--valid.ar-slider--theme .ar-slider__textarea:hover
        &:hover {
          background-color: var(--color-background-success-hover);
        }

        // .ar-slider--valid.ar-slider--theme .ar-slider__textarea:focus
        &:focus {
          background-color: var(--color-background-success-active);
        }
      }
    }
  }

  // .ar-slider--invalid
  &--invalid {
    color: var(--color-text-danger);

    // .ar-slider--invalid.ar-slider--theme
    &#{$slider}--theme {
      // .ar-slider--invalid.ar-slider--theme .ar-slider__track
      #{$slider}__track {
        background-color: var(--color-background-danger);

        // .ar-slider--invalid.ar-slider--theme .ar-slider__textarea:hover
        &:hover {
          border-color: var(--color-background-danger-hover);
        }

        // .ar-slider--invalid.ar-slider--theme .ar-slider__textarea:focus
        &:focus {
          border-color: var(--color-background-danger-active);
        }
      }
    }
  }

  // .ar-slider--primary
  &--primary {
    // .ar-slider--primary.ar-slider__track
    #{$slider}__track {
      background-color: var(--color-background-primary);
    }

    // .ar-slider--primary.ar-slider--hovered
    &#{$slider}--hovered {
      // .ar-slider--primary.ar-slider--hovered .ar-slider__track
      #{$slider}__track {
        background-color: var(--color-background-primary-strong-hover);
      }
    }
  }

  // .ar-slider__group
  &__group {
    width: 100%;
  }

  // .ar-slider__label
  &__label {
    position: relative;
    display: block;
    margin-bottom: var(--indent-margin-medium);
  }

  // .ar-slider__points
  &__points {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
  }

  // .ar-slider__point
  &__point {
    position: absolute;
    top: -4px;
    z-index: 1;
    display: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 50%;
    transform: translate(-50%);

    // .ar-slider__point-value
    &-value {
      position: absolute;
      top: 17px;
      left: -2px;
    }
  }

  // .ar-slider__track
  &__track {
    position: relative;
    width: 100%;
    height: var(--indent-padding-medium);
    border-radius: var(--radius-default-medium);
    transition: background-color var(--transition-default-easein);

    // .ar-slider__track-additional
    &-additional {
      position: absolute;
      top: 0;
      height: 100%;

      // .ar-slider__track-additional-label
      &-label {
        position: absolute;
        top: 25px;
        padding: var(--indent-padding-large);
        border-radius: var(--radius-default-medium);
        opacity: 0;
        transition: opacity 0.3s ease;

        // .ar-slider__track-additional-label--right
        &--left {
          left: -22px;
        }

        // .ar-slider__track-additional-label--right
        &--right {
          right: -22px;
        }

        // .ar-slider__track-additional-label--visible
        &--visible {
          opacity: 1;
        }
      }

      // .ar-slider__track-additional-thumb
      &-thumb {
        position: absolute;
        top: 50%;
        width: 20px;
        height: 20px;
        cursor: grab;
        border-radius: 50%;
        transform: translateY(-50%);
        transition: transform 0.3s ease;

        // .ar-slider__track-additional-thumb--right
        &--right {
          right: -10px;
        }

        // .ar-slider__track-additional-thumb--left
        &--left {
          left: -10px;
        }

        &--drag {
          cursor: grabbing;
          transform: translateY(-50%) scale(1.2);
        }
      }
    }
  }

  // .ar-slider__errors
  &__errors {
    @include theme.text-style-helper(t3);

    // .ar-slider__errors-expand-enter-active, .ar-slider__errors--expand-leave-active
    &-expand-enter-active,
    &-expand-leave-active {
      overflow: hidden;
      transition:
        height 0.2s ease,
        padding-top 0.2s ease;
    }

    // .ar-slider__errors--expand-enter-from, .ar-slider__errors---expand-leave-to
    &-expand-enter-from,
    &-expand-leave-to {
      height: 0 !important;
      padding-top: 0 !important;
    }
  }
}
