@mixin font($f-name, $f-style, $f-weight, $f-url, $f-format) {
  @font-face {
    font-family: $f-name;
    font-style: $f-style;
    font-weight: $f-weight;
    src:
      local($f-name),
      url($f-url) format($f-format);
    font-display: swap;
  }
}
