@use '../../../../themes/asana/asana' as theme;

$virtual-scroller: '.ar-virtual-scroller';

#{$virtual-scroller} {
  position: relative;
  width: 100%;
  overflow: hidden auto;
  will-change: scroll-position;

  // .ar-virtual-scroller__content
  &__content {
    position: absolute;
    width: 100%;
    will-change: transform;
    scroll-behavior: smooth;
  }

  // .ar-virtual-scroller__item
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--ar-virtual-scroller-item-height);
    padding: 0;
    margin: 0;
  }
}
