@use '../../../ariadna' as theme;

$tag: '.ar-tag';

#{$tag} {
  z-index: 2;
  display: inline-flex;
  gap: var(--indent-padding-small);
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: var(--radius-default-small);

  // button.ar-tag
  @at-root button#{&} {
    cursor: pointer;
    border: 0;
  }

  &:hover {
    text-decoration: none;
  }

  // .ar-tag--theme
  &--theme {
    color: var(--color-text-default-contrast);
    background: var(--color-background-default-contrast);
  }

  // .ar-tag--small
  &--small {
    @include theme.text-style-helper(t4);

    min-width: 1.25rem;
    height: 1.25rem;
    padding: 2px 6px;
  }

  // .ar-tag--medium
  &--medium {
    @include theme.text-style-helper(t4);

    min-width: 1.5rem;
    height: 1.5rem;
    padding: 2px 6px;
  }

  // .ar-tag--large
  &--large {
    @include theme.text-style-helper(t4);

    min-width: 1.75rem;
    height: 1.75rem;
    padding: 2px 6px;
  }

  // .ar-tag--primary
  &--primary {
    // .ar-tag--primary.ar-tag--theme
    &#{$tag}--theme {
      color: var(--color-text-default-foreground);
      background: var(--color-background-primary);
    }
  }

  // .ar-tag--secondary
  &--secondary {
    // .ar-tag--secondary.ar-tag--theme
    &#{$tag}--theme {
      color: var(--color-text-default-foreground);
      background: var(--color-background-secondary-strong);
    }
  }

  // .ar-tag--success
  &--success {
    // .ar-tag--success.ar-tag--theme
    &#{$tag}--theme {
      color: var(--color-text-default-foreground);
      background: var(--color-background-success-strong);
    }
  }

  // .ar-tag--warning
  &--warning {
    // .ar-tag--warning.ar-tag--theme
    &#{$tag}--theme {
      background: var(--color-background-warning-strong);
    }
  }

  // .ar-tag--danger
  &--danger {
    // .ar-tag--danger.ar-tag--theme
    &#{$tag}--theme {
      color: var(--color-text-default-foreground);
      background: var(--color-background-danger-strong);
    }
  }

  // .ar-tag--rounded
  &--rounded {
    border-radius: var(--radius-default-xlarge);
  }
}
